<h5>Diretiva *ngIf (recomendado em árvore de elementos grandes)</h5>

<div *ngIf="cursos.length > 0">
    Lista de cursos.
</div>
<div *ngIf="cursos.length == 0">
    Não existem cursos.
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos.
</div>
<div *ngIf="!mostrarCursos">
    Não existem cursos.
</div>

<!-- O * nas diretivas é a mesma coisa que fazer <template [ngIf]="expression"> pois é assim que o angular compila o * -->

<br><br>

<button (click)="onMostrarCursos()">Mostrar ou ocultar cursos</button>

<h5>Hidden como alternativa (recomendado em árvore de elementos pequenas)</h5>

<div [hidden]="!mostrarCursos">
    Lista de cursos.
</div>
<div [hidden]="mostrarCursos">
    Não existem cursos.
</div>